$mediumblue: mediumblue;
$navy: navy;
$black: black;
$lightgray: lightgray;
$white: white;
$verydarkgray: #222;
$midnightblue: midnightblue;
$darkslategray: darkslategray;
$mediumdarkgray: #3F3E3E;
$mediumgray: #494949;
$aqua: #05fbfb;
$skyblue: #29abe3;
$salmon: #fb7b7b;
$red: #fb0505;
$starkgray: #9da6b6;
$mediumstarkgray: #767881;
$lemonyellow: #fbfb9b;
$yellow: #fbfb05;
$honeydewgreen: #b0fb7b;
$greenapple: #50fb05;